
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold", sans-serif;
}
button {
  margin: 2rem 10px 0 0;
}
footer {
  text-align: center;
  padding: 1% 15% 2%;
}
/* sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}
section#testimonials{
  background-color: #ef8172;
}
section#press{
  background-color: #ef8172;
}
/* navbar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar-item {
  font-size: 20px;
  padding: 5%;
}
#navbarTogglerDemo01 {
  padding: 0 28% 0 0;
}
/* Title */
.main-heading{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 5rem;
  text-align: left;
}
.container-fluid {
  padding: 3% 15% 5%;
}
.applebtn:hover {
  color: 	#9FA6B2;
}
#title {
  margin: auto;
}
#title button {
  float: left;
}
#iphone-mockup-img {
  transform: rotate(30deg);
  height: auto;
  width: auto;
  max-height: 70%;
  max-width: 70%;
  margin: 2rem 0 0 0;
  position: absolute;
  right: 30%;
}
@media (max-width: 1420px) {

  #title {
    text-align: center;
  }
  #iphone-mockup-img {
    position: static;
    transform: rotate(0);
  }
}
/* features */
.featurescol {
  padding: 0 7%;
}
.fa-features {
  color: #ef8172;
  padding: 2%;
}
.fa-solid:hover {
  color: #ff4c68;
}
.features-p {
  color: #8f8f8f;
}
.features-h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
#features {
  padding: 5% 15%;
  position: relative;
}
/* testimonials */
.testimonial-img {
  width: 20%;
  border-radius: 50%;
}
.carousel-item {
    padding: 5% 22%;
}
.testimonials-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
/* press */
.presslogo {
  width: 10%;
  margin: 2% 3% 2%;
}
#press {
  padding-bottom: 3%;
}
/* pricing */
.h2-pricing {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-card {
  margin: 3% auto;
}
.pricing-row {
  margin: 0 7%;
}
.pricing-h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
#pricing {
  padding: 2% 3%;
}
/* call to action */
#cta {
  font-weight: 900;
  padding: 3% 0;
}
#ctah3 {
  font-size: 3.5rem;
  padding: 2% 20%;
}
/* footer */
.fa-footer {
  margin: 1rem 2rem;
}
.p-footer {
  color: #8f8f8f;
}
